.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 24px 18px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__byAa {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px;
}
.freeBox__byAa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__byAa > :global(.__wab_flex-container) > *,
.freeBox__byAa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__byAa > :global(.__wab_flex-container) > picture > img,
.freeBox__byAa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.img___0AO49 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 102px;
}
.img___0AO49 > picture > img {
  object-fit: cover;
}
.freeBox__zozsE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__wn8QS:global(.__wab_instance) {
  max-width: auto;
  position: relative;
  margin-top: auto;
  align-self: flex-start;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto !important;
}
.svg___3AqSj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sc6Bl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h1__ioaOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 832px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(0px + 0px) !important;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__ioaOs {
    margin-top: calc(0px + 0px) !important;
  }
}
.text__wKncX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 895px;
  text-align: center;
  font-size: 30px;
  min-width: 0;
}
.svg__rFfV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 128px;
  height: 128px;
  margin-top: calc(96px + 0px) !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(0px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
.freeBox__rOuec {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__oApGx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oApGx {
    margin-right: 0px;
  }
}
.freeBox__x5UXj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text___6EHk5 {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-Ci37BvrYGx5Z);
}
.freeBox__gk5Rq {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__bTpjW {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bTpjW {
    grid-template-columns: 1fr;
  }
}
.freeBox__mwsGh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal___1Du8C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__lmAWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__e75Nq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-Ci37BvrYGx5Z);
  min-width: 0;
}
.freeBox___6V26P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 0px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__qpLlA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__e85BI {
  object-fit: cover;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
}
.img__e85BI > picture > img {
  object-fit: cover;
}
.img__iYqtN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 337px;
}
.img__iYqtN > picture > img {
  object-fit: cover;
}
.img__tbtdo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 421px;
  margin-left: 0px;
  flex-shrink: 0;
}
.img__tbtdo > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tbtdo {
    height: 178px;
    flex-shrink: 0;
  }
}
.freeBox__lhtWv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox___7Z9V1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Z9V1 {
    margin-right: 0px;
  }
}
.freeBox___8EMy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__lOztl {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-Ci37BvrYGx5Z);
}
.freeBox__sEkIv {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__gYxpS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gYxpS {
    grid-template-columns: 1fr;
  }
}
.freeBox___399Ga {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___399Ga {
    grid-column-end: span 1;
  }
}
.reveal__iqp9D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__zTrzc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  padding-right: 0px;
  min-width: 0;
}
.text__ckndZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-Ci37BvrYGx5Z);
  min-width: 0;
}
.img__wiLrd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 175px;
}
.img__wiLrd > picture > img {
  object-fit: cover;
}
.freeBox___53Z3M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal___3GoMc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mac52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.text__ykGhg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__qmpoQ {
  position: relative;
  font-size: var(--token-Ci37BvrYGx5Z);
}
.freeBox__wzArJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__jb5WC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__luh2 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__luh2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__luh2 > :global(.__wab_flex-container) > *,
.freeBox__luh2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__luh2 > :global(.__wab_flex-container) > picture > img,
.freeBox__luh2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__ziEgr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__dFeGp {
  position: relative;
  font-size: var(--token-Ci37BvrYGx5Z);
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__xpUlG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__ewD9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ewD9 {
    margin-right: 0px;
  }
}
.freeBox___76ZH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__dlrCh {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-Ci37BvrYGx5Z);
}
.freeBox__jMx9Z {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__yyVN {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yyVN {
    grid-template-columns: 1fr;
  }
}
.freeBox__dkYox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  margin-bottom: 0px;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dkYox {
    grid-column-end: span 1;
  }
}
.h2__sSxMf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__y5Jk2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-Ci37BvrYGx5Z);
  margin-right: 333px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y5Jk2 {
    max-width: 314px;
    width: 100%;
    margin-right: 11px;
    min-width: 0;
  }
}
.h1__s2Wc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(93px + 0px) !important;
  min-width: 0;
}
.freeBox__bga7X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1128px;
  height: auto;
  max-width: 100%;
  margin-top: calc(186px + 0px) !important;
  padding: 8px;
}
.freeBox__bga7X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 51px);
  height: calc(100% + 51px);
}
.freeBox__bga7X > :global(.__wab_flex-container) > *,
.freeBox__bga7X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bga7X > :global(.__wab_flex-container) > picture > img,
.freeBox__bga7X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 51px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bga7X {
    display: flex;
    flex-direction: column;
    margin-top: calc(186px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bga7X > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bga7X > :global(.__wab_flex-container) > *,
  .freeBox__bga7X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bga7X > :global(.__wab_flex-container) > picture > img,
  .freeBox__bga7X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__hy4At {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hy4At {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__lorGj {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__lorGj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lorGj > :global(.__wab_flex-container) > *,
.freeBox__lorGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lorGj > :global(.__wab_flex-container) > picture > img,
.freeBox__lorGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__iKsCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rQo50 {
  position: relative;
  width: auto;
}
.button__pcTq0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__yzjqH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__heRuW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8EoxZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___8EoxZ {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox__ib6M0 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ib6M0 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__j4ZIb {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__j4ZIb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__j4ZIb > :global(.__wab_flex-container) > *,
.freeBox__j4ZIb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j4ZIb > :global(.__wab_flex-container) > picture > img,
.freeBox__j4ZIb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__lmJgL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__brfC {
  position: relative;
}
.button__aj8Tn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__b29Zf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lHOs7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kuCwk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__kuCwk {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.freeBox__kMyKf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kMyKf {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__gAuY3 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__gAuY3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gAuY3 > :global(.__wab_flex-container) > *,
.freeBox__gAuY3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gAuY3 > :global(.__wab_flex-container) > picture > img,
.freeBox__gAuY3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3___5Igdw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__olr7S {
  position: relative;
}
.button___5L00:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__kfP8V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rtwqx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7EwQg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7EwQg {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox__xf6QS {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xf6QS {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__nmy3V {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__nmy3V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__nmy3V > :global(.__wab_flex-container) > *,
.freeBox__nmy3V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nmy3V > :global(.__wab_flex-container) > picture > img,
.freeBox__nmy3V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3___4QfxK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jhl0 {
  position: relative;
}
.button__eVKh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__qaw4M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tnDL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rL9Sf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rL9Sf {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.img__ettG4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 460px;
  margin-top: calc(0px + 0px) !important;
  height: 492px;
  flex-shrink: 0;
}
.img__ettG4 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ettG4 {
    margin-top: calc(11px + 0px) !important;
  }
}
.h2__tW4Mr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__oBlQ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oBlQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__oBlQ > :global(.__wab_flex-container) > *,
.freeBox__oBlQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oBlQ > :global(.__wab_flex-container) > picture > img,
.freeBox__oBlQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__qz9MZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jw0OD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n8Tpv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__b23Cj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b23Cj {
    display: none;
  }
}
